@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2px;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter',sans-serif,serif;
    line-height: 1.6;
}

.container {
    display: flex;
    align-items: stretch;
    margin-top: 5rem;
    background-color: hsl(244, 38%, 16%);
    color: white;
    border-radius: 5px;
    width: 70%;
    min-width: 700px;
    max-width: 900px;
    margin: 3rem auto;
    text-align: left;
}

.inner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 0;
    padding-right: 3.3rem;
    width: 50%;
}

.imagecontainer {
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    bottom: 0;

}

h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

p {
    font-size: 0.8rem;
}

.highlitedtext {
    color: hsl(277, 64%, 61%);
}

.footer {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    justify-content: space-between;
    font-size: 0.5rem;
    padding-right: 1rem;
}

.counter {
    font-size: 0.9rem;
    font-weight: bold;
}
